# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
indent_size = 2
indent_style = space
tab_width = 2
trim_trailing_whitespace = true

# Set default charset
[*.{js,ts}]
charset = utf-8
