# https://github.com/actions/stale

name: Mark stale issues and pull requests

on:
  schedule:
    - cron: '30 1 * * *'

permissions:
  contents: read

jobs:
  stale:
    permissions:
      issues: write  # for actions/stale to close stale issues
      pull-requests: write  # for actions/stale to close stale PRs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v8
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          stale-issue-message: 'Marking the Issue as stale, it will be closed in 7 days if no more activity is seen'
          close-issue-message: 'Closing the Issue because it is marked as stale'
          stale-pr-message: 'Marking the PR as stale, it will be closed in 7 days if no more activity is seen'
          close-pr-message: 'Closing the PR because it is marked as stale'
          stale-issue-label: stale
          exempt-issue-labels: help wanted,docs,enhancement,feature,dependencies,Distribution support,discussion,released on @beta,released on @master,keep,breaking
          days-before-stale: 30
          days-before-close: 7
          remove-stale-when-updated: true
